[Unit]
Description=Agency Dashboard
After=network-online.target

[Service]
Type=simple
ExecStart=/var/home/chris/dev/agency/.venv/bin/python3 -m agency.app
Restart=always
WorkingDirectory=/var/home/chris/dev/agency
Environment=HOME=/var/home/chris

[Install]
WantedBy=default.target
